#menu__toggle {
  width: 100%;
  top: 30px;
  position: relative;
  z-index: 100;
  opacity: 0;
  height: 40px;
  cursor: pointer;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  /* position: fixed; */
  display: block;
  top: 30px;
  left: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  /* z-index: 1; */
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  --bg-color: #008000;
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--bg-color);
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -14px;
}
.menu__btn > span::after {
  content: '';
  top: 14px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/* HERO */
.home-hero{
  overflow: hidden;
}

.header {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn--underline.heading-xs {
  font-weight: 700;
  text-transform: uppercase;
  font-family: acumin-pro-extra-condensed,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  letter-spacing: 1.6px;
  line-height: 1;
  font-size: 22px;
}

.btn--underline:after {
  transform: translateX(-200%);
}

.btn--underline:after, .btn--underline:before {
    transition-timing-function: ease;
    transition-duration: .55s;
    transition-delay: .1s,0ms;
    transition-property: transform,border-color;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: calc(100% - 2px);
    background-color: currentColor;
    height: 2px;
}

.container {
  padding: 0;
  max-width: 72vw;
}

.home-hero__heading{
  font-size: 70px;
}

.hero__title{

}

.stroked {
  color: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: currentColor;
}


/* Gallery section */
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.afe-gallery{
    padding: 0 250px;
}

.afe-gallery-heading{
    text-align: center;
    margin: 50px 0;
    font-size: 2rem;
    font-weight: 600;
    color:red;
    /* text-shadow: 1px 1px 10px rgb(212, 212, 212); */
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

/* Main CSS */
.grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

.slides{
    display: flex;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato:wght@400;700&display=swap');
/*
font-family: 'Lato', sans-serif;
font-family: 'DM Serif Display', serif;
*/
body{
  font-family: 'Lato', sans-serif;
}
.card {
    width: 50vw;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    border: 2px solid white;
}
.cardheading{
  vertical-align: super;
  
}
.cardtitle{
  text-decoration: underline;
}
.date{
  font-size:1.4em;
  font-weight:400;
  color:#fff;
	padding-bottom: 0.3em;
}
.date-ribbon{
  
  top:0.5em;
  right: 0px;
  position:absolute;
 
  padding-bottom:0.5em;
  border-radius:0;
 
	color: black;
  width: 5em;
  text-align: center;
}
 .date-ribbon h2{
  text-align: center;
   padding-top: 0.25em;
     -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
   font-family: 'DM Serif Display', serif;
   font-size: 1.25rem;
   letter-spacing: 8px;
   padding-left: 10px;
   
}
 .date-ribbon h1{
   font-size: 1.75rem;
 text-align: center;
    -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
   font-family: 'DM Serif Display', serif;
   letter-spacing: 3px;
    
}
.lefting{
  position:relative;
}
.imagine{
    object-fit: cover;
    display: inline-block;
    min-height: 100%;
    max-height: 100%;
}
.tickets{
  bottom:0px;
  right: 0px;
  position: absolute;
}
.righty{
      width: 100%;
}   